select, textarea, input[type="text"], input[type="password"], input[type="datetime"], input[type="datetime-local"], input[type="date"], input[type="month"], input[type="time"], input[type="week"], input[type="number"], input[type="email"], input[type="url"], input[type="search"], input[type="tel"], input[type="color"], .uneditable-input {

  color: #555555;
  display: inline-block;
  font-size: 14px;
  height: 30px;
  line-height: 20px;
  margin-bottom: 10px;
  padding: 4px 6px;
  vertical-align: middle;
  font-weight: normal;
  border-radius:0;
}

.form-container input[type="text"], .form-container input[type="email"], .form-container select {
  height: 34px;
}

.form-container {
  border-radius: 0px;
  padding: 15px 0;
  position: relative; 
  margin: 0;
}

.image-background .form-container {
    background: url(http://images.marketing.bpp.com/EloquaImages/clients/ApolloGlobal/%7B21b7de6c-c85c-473d-8f55-fde6cc24a7ab%7D_opacity.png) repeat
}

.form-container select {
    padding-right:34px;
}

.form-container h2 {
    margin-top:0px;
}

  .form-container div.form-group {
    margin: 5px 0px 0px 0px; }

  /* line 16, form.css.scss */

  .form-container input[type="text"], .form-container input[type="email"] {
    display: block;
    min-height: 28px;
    width: 100%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box; }

 .form-container .btn, .form-container select {
    width: 100%; }

 /* line 122, font-style.css.scss */

  .form-container h1, .form-container h2, .form-container h3, .form-container h4, .form-container h5, .form-container p {
    text-shadow: 0px 0px; }

    /* line 127, font-style.css.scss */

.form-container .heading h1 {
      font-family: "whitneymedium", "Century Gothic", "Apple Gothic", AppleGothic, "URW Gothic L", "Avant Garde", Futura, sans-serif;
      font-size: 25px;
      line-height: 25px; }

    /* line 132, font-style.css.scss */

.form-container .heading p {
      font-size: 17px;
      line-height: 17px; }

    /* line 136, font-style.css.scss */

.form-container .heading input[type="text"] {
      font-size: 17px;
      line-height: 17px; }

.form-container .btn {
  margin-top: 20px;
}

label
{width:100%;
 position:relative;
}

label:after
{
 content:'>';
 -webkit-transform:rotate(90deg);
 -moz-transform:rotate(90deg);
 -ms-transform:rotate(90deg);
 transform:rotate(90deg);
 color:#FFF;
 background:#bdc1c2;
 padding: 8px 14px;
 display:block;
 float:right;
 width:34px;
 box-sizing:border-box;
 position:absolute;
 pointer-events:none;
 top:-1px;
 right:0px;
 font-family:"Helvetica Neue",Helvetica,Arial,sans-serif;
 -ms-display: none;
 -ms-padding: 0;
 -ms-content: '';
 -ms-margin: 0;
}

@media (max-width:991px) {
    label:after {
        width: 23.01%;
    }
}

#submit {
  background:#3bb1b1;
  border:none;
  color:#fff;
  width:100%;
  float:left;
  height: 36px;
  padding-top: 8px;
  font-family:'whitneymedium';
}

#submit:hover {text-decoration:none;}

[disabled] {opacity:0.5;}

input[type=submit] {
  background:#00b6b1;
  border:none;
  color:#fff;
  width:10%;
  float:left;
  margin-top: 20px;
}

 
.hidden-tablet {display:none;}


@media (max-width:991px) {

	label:after {
	 right:0px;
	}
}

@media (max-width:767px) {
select, input {
margin: 10px 2% 10px 0;
}

input[type=submit] {
  width:100%;
}

label:after {display:none;}
    
.form-container select {
    padding-right: 5px;
}
}

	  /* line 1358, bootstrap.css.scss */
.control-group.warning > label,
.control-group.warning .help-block,
.control-group.warning .help-inline {
  color: #c09853; }

/* line 1366, bootstrap.css.scss */
.control-group.warning .checkbox,
.control-group.warning .radio,
.control-group.warning input,
.control-group.warning select,
.control-group.warning textarea {
  color: #c09853; }

/* line 1372, bootstrap.css.scss */
.control-group.warning input,
.control-group.warning select,
.control-group.warning textarea {
  border-color: #c09853;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075); }

/* line 1381, bootstrap.css.scss */
.control-group.warning input:focus,
.control-group.warning select:focus,
.control-group.warning textarea:focus {
  border-color: #a47e3c;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px #dbc59e;
  -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px #dbc59e;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px #dbc59e; }

/* line 1389, bootstrap.css.scss */
.control-group.warning .input-prepend .add-on,
.control-group.warning .input-append .add-on {
  color: #c09853;
  background-color: #fcf8e3;
  border-color: #c09853; }

/* line 1397, bootstrap.css.scss */
.control-group.error > label,
.control-group.error .help-block,
.control-group.error .help-inline {
  color: #b94a48; }

/* line 1405, bootstrap.css.scss */
.control-group.error .checkbox,
.control-group.error .radio,
.control-group.error input,
.control-group.error select,
.control-group.error textarea {
  color: #b94a48; }

/* line 1411, bootstrap.css.scss */
.control-group.error input,
.control-group.error select,
.control-group.error textarea {
  border-color: #b94a48;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075); }

/* line 1420, bootstrap.css.scss */
.control-group.error input:focus,
.control-group.error select:focus,
.control-group.error textarea:focus {
  border-color: #953b39;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px #d59392;
  -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px #d59392;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px #d59392; }

/* line 1428, bootstrap.css.scss */
.control-group.error .input-prepend .add-on,
.control-group.error .input-append .add-on {
  color: #b94a48;
  background-color: #f2dede;
  border-color: #b94a48; }


select, textarea, input[type="text"], input[type="password"], input[type="datetime"], input[type="datetime-local"], input[type="date"], input[type="month"], input[type="time"], input[type="week"], input[type="number"], input[type="email"], input[type="url"], input[type="search"], input[type="tel"], input[type="color"], .uneditable-input {
    border: 1px solid #d1d1d1;
}

.intl-tel-input input, .intl-tel-input input[type=text], .intl-tel-input input[type=tel] {
    width:100%; 
    height:35px;
}

.intl-tel-input {
    margin-bottom: 15px;
}

@media (max-width:767px) {
   .intl-tel-input {
        margin-bottom: 0;
    } 
}

.intl-tel-input .country-list .country {
    background:none;
    color: #676767;
}

.form-container input[type="tel"] {
    width:100%;
}

.error:after {
    width:0; 
    height:0; 
    padding:0;
    content: '';
}

.intl-tel-input input, .intl-tel-input input[type=text], .intl-tel-input input[type=tel] {
 color: #676767;
}